<div id="dataPanel">
  <div id="controlPanel">
    <button class="previous">Prev. Sample</button>
    <button class="next">Next Sample</button>
  </div>
  <div id="features">
    <div class="container"></div>
  </div>
</div>
